<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "/static/styles.css" rel = "stylesheet" type = "text/css">
    <title>Quizz.It</title>
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
            integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
            crossorigin="anonymous"
    />
<script src = "/static/index.js"></script>
</head>

<body>
<nav class="navbar">
    <div class="navbar__container">
        <a href="#home" id="navbar__logo">Quizz.It</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span> <span class="bar"></span>
                <span class="bar"></span>
            </div>
    </div>
</nav>

  <div class="intro" id="home">
        <div class="intro__container">
            <h1 class="intro__heading">Welcome to <span>Quizz.It</span></h1>
            <p class="intro__description">Please Upload Your File Below</p>
        </div>
    <section class = "intro__section">
        <form id="uploadForm" method="post" enctype="multipart/form-data" action = "">
            <input type="file" id="upload" name="upload" class = "select__button">
            <br>
            <input type="submit" value="Upload" id = "upload" class = "upload__button">
        </form>
        <div class = "file_upload_status"></div>
    </section>
  </div>


    <div class="options" id="options">
        <h1>Choose Your Direction</h1>
        <div class="options__wrapper">
            <div class="options__card">
                <h2>Document too long?</h2>
                <p>We got your back!</p>
                <div class="summary_button"><button> Generate Summary</button></div>
            </div>
            <div class="options__card">
                <h2>Studying for a test?</h2>
                <p>We can quiz you!</p>
                <div class="questions_button"><button>Generate Test Questions</button></div>
            </div>
            <div class="options__card">
                <h2>Have questions about the document?</h2>
                <p>We can help you with that</p>
                <div class="ask_question_button"><button>Ask a Question</button></div>
            </div>
        </div>
    </div>
</body>
</html>
