<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "/static/styles.css" rel = "stylesheet" type = "text/css">
    <title>Quizz.It</title>
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
            integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
            crossorigin="anonymous"
    />
<script src = "/static/index.js"></script>
</head>
<body>
<nav class="navbar">
        <div class="navbar__container">
            <a href="#home" id="navbar__logo">Quizz.It</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span> <span class="bar"></span>
                <span class="bar"></span>
            </div>
<ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="Generate Summary" class="navbar__links" id="about-page">Get Summary</a>
                </li>
                <li class="navbar__item">
                    <a href="Generate Questions" class="navbar__links" id="services-page">Get Questions</a>
                </li>
        </ul>
</div>
    </nav>

  <div class="intro" id="home">
        <div class="intro__container">
            <h1 class="intro__heading">Welcome to <span>Quizz.It</span></h1>
            <p class="intro__description">Please Upload Your File Below</p>
        </div>
    <section id="section1">
<h2>Please Upload Your File Here</h2>
        <form id="uploadForm" method="post" enctype="multipart/form-data" action = "">
            <label for="upload">Choose a file:</label>
            <input type="file" id="upload" name="upload">
            <br>
            <input type="submit" value="Upload" id = "upload">
        </form>
        <div class = "file_upload_status"></div>
    </section>
  </div>


    <div class="options" id="options">
        <h1>Choose Your Direction</h1>
        <div class="options__wrapper">
            <div class="options__card">
                <h2>Need to summarize a doc?</h2>
                <p>We got your back!</p>
                <div class="options__btn"><button> Generate Summary</button></div>
            </div>
            <div class="options__card">
                <h2>Studying for a test?</h2>
                <p>We can quiz you!</p>
                <div class="options__btn"><button>Generate Questions</button></div>
            </div>
        </div>
    </div>









    <footer>
        <p>&copy; 2023 Simple HTML Page</p>
    </footer>
</body>
</html>
